*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(0, 0, 0, 0.705);
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(128, 128, 128);
}

.scrollToTop{
    background-color: #0A101F;
    border-radius: 100%;
    position: fixed;
    height: 4rem;
    width: 4rem;
    bottom: 40px;
    right: 40px;
    z-index: 50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #ccc7b9;
}

.scrollToTop i:hover{
    color: #fca311;
}

.arrow-circle-up{
    color: #ccc7b9;
}

a{
    color: #ccc7b9;
}

#root{
    background: #0A101F;
    color: white;

}


.collapseble-button{
    display: none;
}


.navbar{
    top: 0;
    width: fit-content;
    border-radius: 0 0 40px 40px;
    position: sticky;
    margin: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-top: 1.8vh;
}

.ul-nav{
    display: flex;
}

.scrolling{
    background-color: #0A101F;
    border-bottom: 1px solid #fca311;
    border-radius: 0 0 40px 40px;
    margin: auto;
    width: fit-content;
    z-index: 2000;
}

.main{
    background-image: url(./img/liquid-cheese.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-links{
    color: #ccc7b9;
    font-size: 1.8em;
    margin: 2vw;
}

.header-links:hover{
    color: #fca311;
}

.hdcm{
    color: white;
}

.hero-main-main{
    height: 90vh;
    z-index: 5;
}

.hero-main{
    height: 76%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    scroll-margin-top: 15ex;
    max-width: 1200px;
    margin: 0 auto;

}

.img-symb{
    display: flex;
}

.hero-lines{
    font-size: 1.8em;
}

h1, h2, p{
    font-weight: 100;
}

.hero-lines h1{
    color: #fca311;
}

.hero-lines h2 {
    font-weight: 500;
}

.btn-contact{
    background-color: #fca311;
    color: #0A101F;
    padding: .4em .8em;
    font-size: .9em;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid #0A101F;
}

.btn-contact:hover{
    background-color: #0A101F;
    border: 2px solid #fca311;
    color: #fca311;
}

.hero-blob{
    background-color: #fca311;
    background-image: url(./img/blghead2.png);
    background-position: center;
    background-size: cover;
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45% ;
    height: 500px;
    width: 420px;
}

.hero-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    margin-left: 3%;
}

.uil-linkedin-alt:hover{
    color: aqua;
}

.uil-github-alt:hover, .uil-bold:hover{
    color: rgb(183, 0, 255);
}

.uil-file:hover{
    color: red;
}

.arrow-i{
    font-size: 6em;
    text-align: center;
}
.arrow-i i{
    color: #fca311;
}

.about-me{
    background-color: #ccc7b9;
    overflow-x: hidden;
    font-size: 1.2em;
}

.title-me{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.about-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #0A101F;
    padding: 50px 80px;    
    border-radius: 30px;
    gap: 50px;
}

.me-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.me-2{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.am-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-image: url(./img/me-be.jpg);
    margin-bottom: 20px;
}

.am-e{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 20px;
}

.am-p i{
    color: #fca311;
    font-size: .8em;
}

.am-p{
    margin-bottom: 20px;
}

.am-year{
    color: #687596;
}

.skills{
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    background-color: #ccc7b9;
    overflow-x: hidden;
}

.separator{
    background-color: #ccc7b9;
    height: 100px;
    scroll-margin-top: -200px;
}

.div-titles{
    display: flex;
    justify-content: center;
}

.titles{
    font-size: 4em;
    font-weight: 500;
    color: #0A101F;
    align-self: center; 
}

.skill-box{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 4% 20%;
    gap: 20px 5px;
    background-color: #0A101F;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 420px;

}

.back-i{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.skill-box i{
    font-size: 5em;
}

.skill-box p{
    font-weight: 900;
}

.html5{
    color: #E44D26;
}

.css3{
    color: #264de4;
}

.javas{
    color: #f0db4f;
}

.react{
    color: #61DBFB;
}

.wordpress{
    color: #21759b;
}

.git-icon{
    color: #c9510c;
}

.portfolio{
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
    background-color: #ccc7b9;
    margin-bottom: 100vh;
    overflow-x: hidden;
}

.portfolio-box{
    display: flex;
    background-color: #0A101F;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
}

.projects-box{
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 100%;
    align-content: center;
}

.div-port{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.projects-box div img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
}

.image-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 20px;
}

.image-overlay:hover{
    opacity: 1;
    transition: opacity 0.25s;
}

.image-overlay h5{
    font-size: 1.3rem;
    padding: 10px 10px 0 10px;
}

.image-overlay i{
    font-size: 1.6rem;
}

.port-btns button{
    background-color: #fca311;
    color: #0A101F;
    padding: .1em .6em;
    font-size: .7em;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid #0A101F;
    margin: 0 10px;
}
.port-btns button:hover{
    background-color: #0A101F;
    border: 2px solid #fca311;
    color: #fca311;
}



.main-main-contact{
    height: 100vh;
    background-color: #0A101F;
    position: fixed;
    z-index: -10;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 100px;
}

.contact-main{
    display: grid;
    grid-template-columns: 80% 20%;
}

.contac-text{
    color: #fca311;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}

.footer-icons{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.footer-icons a{
    font-size: 2em;
}

.footer-icons span{
    margin-left: 15px;
}

.i-email:hover{
    color: yellow;
}

.i-linkedin:hover{
    color: aqua;
}

.i-github:hover{
    color: rgb(183, 0, 255);
}

.i-cv:hover{
    color: red;
}

.all-form{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 4%;
}

.email-input{
    width: 70%;
    height: 2em;
    padding: 0 20px;
    font-size: 2em;
    border-radius: 20px;
    background-color: hsl(0, 0%, 50%, .2);
    color: white;
    border: none;
    
}

.text-area{
    width: 70%;
    height: 40%;
    font-size: 2em;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 50%, .2);
    color: white;
    border: none;
    
}

.button-sub{
    width: 20%;
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #fca311;
    color: #0A101F;
    border: 2px solid #0A101F;
}

.button-sub:hover{
    background-color: #0A101F;
    border: 2px solid #fca311;
    color: #fca311;
}

.all-form label{
    font-size: 2em;
    margin-top: 30px;
}

.div-ty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.thanks{
    font-size: 2.5em;
    margin-top: 30px;
}

.thanks span{
    font-size: 2.5em;
    margin-top: 30px;
}

.tyhappy{
    font-size: 6em;
    color: #fca311;
}

.separator-f{
    background-color: #ccc7b9;
    height: 2px;
    margin: 1% 20%;

}

.footer-main{
    color: #ccc7b9;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
}

@media screen and (min-width:750px) and (max-width:1000px){
    .hero-main-main{
        height: 90vh;
    }

    .hero-main{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        justify-content: center;
        
    }

    .hero-lines h1, h2, p{
        text-align: center;
    }
    .hero-lines h1{
        font-size: 1.5em;
    }

    .hero-lines{
        font-size: 1.4em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-blob{
        height: 45vh;
        width: 45vw;
        margin: 0 0 20px 0;
    }

    .arrow-i{
        margin-top: -100px;
    }

    .p-description{
        font-size: .7em;
    }

    .image-overlay h5{
        font-size: 1rem;
        padding: 10px 10px 0 10px;
    }
    
    .image-overlay i{
        font-size: 1.2rem;
    }

    .port-btns button{
        font-size: .6em;
    }

}

@media screen and (min-width:100px) and (max-width:750px) {
    .hero-main{
        padding: 30px 30px;
    }

    .body{
        overflow-x: hidden;
    }

    .main{
        background-position: center;
    }

    .navbar.active nav{
        display: block;
    }

    .navbar.active{
        background-color: #0a101ff8;
        height: fit-content;
    }
    
    
    .navbar{
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: -2vh;
        left: 0;
        right: 0;
        border: none;
        border-radius: 0;
        z-index: 100;
    }
    
    .collapseble-button{
        display: block;
        font-size: 3rem;
    }
    
    nav{
        display: none;
    }

    .links-nav ul{
        flex-direction: column;
        align-items: center;
        margin: 0.3rem 0rem;
        width: 100vw;

    }

    .header-links{
        text-decoration: none;
        font-size: 10vw;
 
    }
    
    .hdcm{
        color: white;
    }
    
    .hero-main-main{
        height: 100vh;
    }

    .hero-main{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        justify-content: center;
    }

    .hero-lines h1, h2, p{
        text-align: center;
    }
    .hero-lines h1{
        font-size: 1.5em;
    }

    .hero-lines{
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-blob{
        height: 35vh;
        width: 70vw;
        margin: 0 0 20px 0;
    }

    .arrow-i{
        margin-top: -100px;
    }

    .skills{
        display: flex;
        flex-direction: column;
    }

    .portfolio{
        display: flex;
        flex-direction: column-reverse;
    }

    .separator{
        height: 30px;
    }

    .titles{
        margin-top: 50px;
    }

    .projects-box{
        display: flex;
        flex-direction: column;
    }

    .contact-main{
        display: flex;
        flex-direction: column;
    }

    .main-main-contact{
        padding: 50px;
    }

    .contac-text{
        margin-top: 20px;
        font-size: 2.5em;
    }

    .all-form{
        height: 60vh;
        padding: 0;
    }

    .all-form label{
        margin-top: 10px;
        font-size: 1.4em;
    }

    .text-area, .email-input{
        font-size: 1.5em;
        width: 80vw;
    }


    .button-sub{
        font-size: 1.5em;
        padding: 5px;
        width: 50%;
    }

    .footer-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
    }

    .footer-icons a span{
        display: none;
        
    }

    .scrollToTop{
        height: 3rem;
        width: 3rem;
        font-size: 3.7rem;
        bottom: 50px;
        right: 20px;
        color: #ccc7b9;
    }

    .about-container{
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
    }

    .me-2{
        display: flex;
        flex-direction: column;
    }

}